extends layout

block content
  h1= title
  p Welcome to #{title}

  form
    div.section
      label(for='domain') Domain
      input(type='text' name='domain')
      input(type='submit' name='search')
  div.section
    div#response